.chat-container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  background-color: #4e4e4e;  
  overflow: hidden;
  overflow-x: auto;
}

.chat-container .main-content {
  flex: 1;
  position: relative;
}

.chat-container .main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat-container .main-content h1 {
  color: rgb(255, 243, 243);
  margin: 10px 10px;
}

.spotlight__input {
  display: block;
  height: 56px;
  width: 80%;
  border: 0;
  border-radius: 12px;
  outline: none;
  font-size: 1.2rem;
  color: #000;
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 3.5%;
  padding-left: 60px;
  margin-left: 1.2rem;
}

.spotlight__input::placeholder {
  line-height: 1.5em;
}

.spotlight__answer {
  min-height: 115px;
  line-height: 1.5em;
  letter-spacing: 0.1px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotlight__answer p::after {
  content: "";
  width: 2px;
  height: 14px;
  position: relative;
  top: 2px;
  left: 2px;
  background: black;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
