/* Default styles */

body {
  background-color: rgb(51, 44, 44);
}

.TodoList {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
}

.TodoList .main-content {
  flex: 1;
  position: relative;
  min-height: 100vh;
  height: fit-content;
}

.TodoList .main-content h1 {
  color: white;
  margin: 10px 10px;
  font-weight: 800;
  font-size: 2.5rem;
}

.TodoList .main-container {
  display: flex;
  justify-content: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.adding {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.adding .inputs {
  display: inline-flex;
}

.adding label {
  color: white;
  display: inline-flex;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  background-color: #194a7a;
  font-size: 0.95rem;
}

.adding .due-date {
  margin-left: 1rem;
}

.adding input {
  height: 2.5rem;
  display: inline-flex;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0px 4px 4px 0px;
  margin: 0.625rem 0px 1rem;
  font-size: 0.95rem;
}

.adding button {
  padding: 0.625rem 2.5rem;
  background-color: #1623bc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.adding button:hover {
  background-color: #151d79;
}

.main-container .list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-container .column {
  width: 25%;
  min-height: 30rem;
  height: 100%;
  margin: 0.625rem;
  padding: 0.625rem;
  border: 1px solid black;
  align-items: center;
  background-color: rgb(33, 28, 28);
  border-radius: 10px;
}

.main-container .column:nth-child(1) {
  background-color: #296eb4;
}

.main-container .column:nth-child(1) .droppable-col {
  background-color: #3589dd;
}

.main-container .column:nth-child(2) {
  background-color: #ff9505;
}

.main-container .column:nth-child(2) .droppable-col {
  background-color: #dc8000;
}

.main-container .column:nth-child(3) {
  background-color: #a5be00;
}

.main-container .column:nth-child(3) .droppable-col {
  background-color: #93a900;
}

.main-container .column .header-col {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
  margin: 0;
}

.main-container .column h3 {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0.625rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.remove-all {
  background-color: red;
  padding: 0.312rem;
  cursor: pointer;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  margin: 0.625rem;
}

.remove-all:hover {
  background-color: rgb(162, 0, 0);
}

.remove-all svg {
  color: white;
}

.droppable-col {
  max-width: 100%;
  padding: 0.625rem 0.625rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 0 1rem;
}

.item {
  margin: 0.625rem;
  color: rgb(1, 1, 1);
  border: 1px solid white;
  padding: 0.312rem;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.675);
  word-wrap: break-word;
}

#itemName {
  height: auto;
  white-space: nowrap;
  overflow-x: scroll;
}

.item-dragging {
  border: 3px dashed rgb(0, 0, 0);
  background-color: rgba(255, 255, 255);
}

.content.name {
  font-weight: 600;
}

.due-date-passed {
  background-color: rgba(81, 81, 81, 0.625);
}

.due-date-passed .content {
  color: white;
}

.due-date-passed .content.date {
  color: #ff8080;
}

.edit-button,
.remove-button {
  margin: 0.625rem;
  width: 5rem;
  height: 2rem;
  border-radius: 0.625rem;
  font-size: 0.9rem;
  background-color: #fafafa;
}

.edit-button:hover,
.remove-button:hover {
  cursor: pointer;
}

.edit-button:hover {
  color: white;
  background-color: #296eb4;
}

.remove-button:hover {
  color: white;
  background-color: red;
}

.edit-input {
  border-radius: 5px;
  padding: 0.2rem;
}

.edit-confirm,
.edit-cancel {
  margin: 0.312rem;
  padding: 0;
  width: 3rem;
  height: 2.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.edit-confirm:hover {
  background-color: rgb(2, 192, 2);
}

.edit-cancel:hover {
  background-color: rgb(223, 0, 0);
}

/* Media Queries */

@media screen and (max-width: 850px) {
  .TodoList .main-content h1 {
    font-size: 2rem;
  }
  
  .adding label,
  .adding input,
  .adding button {
    font-size: 0.85rem;
  }
  
  .main-container .column {
    width: 50%;
  }

}

@media screen and (max-width: 480px) {
  .TodoList .main-content h1 {
    font-size: 1.8rem;
  }
  
  .adding label,
  .adding input,
  .adding button {
    font-size: 0.8rem;
  }

  .main-container {
    width: 20%;
  }
}

